* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family:helvetica, arial, sans-serif;
	color: #EE0087;
}

.link {
	color: #EE0087 !important;
}

body > .container {
	margin-top: 100px;
}
